@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
}

.parent-div{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.sign-up{
    display: flex;
    justify-content: end;
}

.sign-up button{
    padding: 20px;
    border: none;
    background-color: #4A3AFF;
    color: #fff;
    border-radius: 56px;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    width: 140px;
}

.grid{
    display: grid;
    grid-template-columns: 45% 55%;
    margin-bottom: 30px;
}

.grid-1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.grid-1 h4{
    color: #170f49;
    font-size: 34px;
}

.grid-1 p{
    color: #6F6C90;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.grid-1 input{
    padding: 21px;
    width: 85%;
    margin-top: 10px;
    border: 1px solid #EFF0F6;
    border-radius: 46px;
    font-size: 18px;
    font-family: 'DM Sans';
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
}

.input-1{
    background-image: url(svg/user-line.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px;
}

.input-none{
    background: none;
}

.input-2{
    background-image: url(svg/lock.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 24px;
}

.grid-1 input:focus{
    border: 1px solid #170F49;
    outline: none;
    color: #170f49;
}

.grid-1 button{
    width: 85%;
    font-family: 'DM Sans';
    font-size: 18px;
    padding: 23px;
    background-color: #005ADE;
    border: none;
    color: #fff;
    border-radius: 86px;
    margin-top: 20px;
    box-shadow: 0px 8px 22px rgba(74, 58, 255, 0.26);
}

.forgot-pass{
    text-align: center;
    width: 85%;
    margin-top: 30px;
    cursor: pointer;
    color: #6F6C90;
    text-decoration: none;
}

.delivery-steps{
    display: flex;
    align-items: center;
    color: #CCCCCC;
    font-size: 22px;
    gap: 10px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.active{
    color: #6B72D6;
}

.icon1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon1 i{
    font-size: 19px;
}

.line{
    width: 25px;
    height: 1px;
    border-top: 1px solid #CCCCCC;
}

.line-active{
    border-top: 1px solid #6B72D6;
}

.active-icon{
    color: #585858;
}

.footer-2{
    display: grid;
    grid-template-columns: 30% 70%;
}

.footer-2-1{
    padding-left: 50px;
    padding-top: 30px;
    line-height: 24px;
}

.footer-2-1 p{
    padding-top: 10px;
}

.footer-categories-parent{
    padding-top: 20px;
    display: flex;
    margin-right: 200px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.category-about-img{
    padding-top: 25px;
}

.category-about{
    display: flex;
    flex-direction: column;
}

.category-about p{
    color: #1C1C1C;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 20px;
}

.category-about a{
    margin-bottom: 10px;
    color: #8B96A5;
    cursor: pointer;
}

.final--footer{
    background: #EFF2F4;
    /* padding-left: 50px;
    padding-right: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.final--footer a{
    cursor: pointer;
}

.lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
